*{
    background-color: #083953;
    font-family: "Georgia", sans-serif;
}

body {
text-align: center;
box-shadow: #b6b5ba;
}

div {
    width: 500px;
    height: auto;
    margin: 5px auto;
    border-radius: 25px;
    background-color: rgb(125, 128, 107);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3) ;
    padding: 20px;
}

h1 {
    background-color: rgb(125, 128, 107);
}

p {
    font-size: 25px;
    border-radius: 25%;
    background-color: rgb(125, 128, 107);
}

a {
    background-color: rgb(125, 128, 107);
    margin-right: 25px;
}

audio {
    background-color: rgb(125, 128, 107);

}

img {
    width: 50%;
    height: auto;
    border-radius: 25px;
}